# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store
public/javascript/test.js

# Docker
Dockerfile
docker-compose.yml

# Temporary files
temp_pokemon.png

# Secret files
secret.txt
temp.png
